In [65]:
from nba_api.stats.static import players
import pandas as pd
import time

players_updated = pd.read_csv('players_updated.csv')
players_not_found = []

for index, row in players_updated.iterrows():
    if players.find_player_by_id(row['player_id']) and row['Player'] == players.find_player_by_id(row['player_id'])['full_name'].lower():
        continue
    else:
        #print('no match')
        if players.find_player_by_id(row['player_id']):
            #print(row['Player'], players.find_player_by_id(row['player_id'])['full_name'].lower())
            continue
        else: 
            print(row['Player'], 'not found', row['player_id'])
            players_not_found.append(row['Player'])

print("\n")
new_ids = []
for name in players_not_found:
    print(name)
    print(players.find_players_by_full_name(name))
    if len(players.find_players_by_full_name(name)) == 0:
        print("no match")
        new_ids.append((name, 0))
    else:
        new_ids.append((name, players.find_players_by_full_name(name)[0]['id']))
    
new_ids.append(('steve smith', 120))
    
to_get_rid_of = ['jules bernard', 'isaac fontaine', 'gregory jackson ii', 'cheese johnson', 'glen rice jr', 'jeenathan williams']

jules bernard not found 1631262
brandon boston jr not found 450
greg brown iii not found 569
troy brown jr not found 598
larry drew ii not found 1206
david duke jr not found 1225
isaac fontaine not found 1435
ron harper jr not found 1867
gregory jackson ii not found 2187
jaren jackson jr not found 2190
cheese johnson not found 2283
john lucas iii not found 2799
trey murphy iii not found 3284
larry nance jr not found 3318
gary payton ii not found 3582
kevin porter jr not found 3688
michael porter jr not found 3689
otto porter jr not found 3690
glen rice jr not found 3846
glenn robinson iii not found 3911
jabari smith jr not found 4275
steve smith not found 4303
gary trent jr not found 4622
duane washington jr not found 4815
jeenathan williams not found 4995
vince williams jr not found 5037


jules bernard
[]
no match
brandon boston jr
[{'id': 1630527, 'full_name': 'Brandon Boston Jr.', 'first_name': 'Brandon', 'last_name': 'Boston Jr.', 'is_active': True}]
greg brown iii
[{'id': 1630535, 'full_name': 'Greg Brown III', 'first_name': 'Greg', 'last_name': 'Brown III', 'is_active': True}]
troy brown jr
[{'id': 1628972, 'full_name': 'Troy Brown Jr.', 'first_name': 'Troy', 'last_name': 'Brown Jr.', 'is_active': True}]
larry drew ii
[{'id': 203580, 'full_name': 'Larry Drew II', 'first_name': 'Larry', 'last_name': 'Drew II', 'is_active': False}]
david duke jr
[{'id': 1630561, 'full_name': 'David Duke Jr.', 'first_name': 'David', 'last_name': 'Duke Jr.', 'is_active': False}]
isaac fontaine
[]
no match
ron harper jr
[{'id': 1631199, 'full_name': 'Ron Harper Jr.', 'first_name': 'Ron', 'last_name': 'Harper Jr.', 'is_active': True}]
gregory jackson ii
[]
no match
jaren jackson jr
[{'id': 1628991, 'full_name': 'Jaren Jackson Jr.', 'first_name': 'Jaren', 'last_name': 'Jackson Jr.', 'is_active': True}]
cheese johnson
[]
no match
john lucas iii
[{'id': 101249, 'full_name': 'John Lucas III', 'first_name': 'John', 'last_name': 'Lucas III', 'is_active': False}]
trey murphy iii
[{'id': 1630530, 'full_name': 'Trey Murphy III', 'first_name': 'Trey', 'last_name': 'Murphy III', 'is_active': True}]
larry nance jr
[{'id': 1626204, 'full_name': 'Larry Nance Jr.', 'first_name': 'Larry', 'last_name': 'Nance Jr.', 'is_active': True}]
gary payton ii
[{'id': 1627780, 'full_name': 'Gary Payton II', 'first_name': 'Gary', 'last_name': 'Payton II', 'is_active': True}]
kevin porter jr
[{'id': 1629645, 'full_name': 'Kevin Porter Jr.', 'first_name': 'Kevin', 'last_name': 'Porter Jr.', 'is_active': False}]
michael porter jr
[{'id': 1629008, 'full_name': 'Michael Porter Jr.', 'first_name': 'Michael', 'last_name': 'Porter Jr.', 'is_active': True}]
otto porter jr
[{'id': 203490, 'full_name': 'Otto Porter Jr.', 'first_name': 'Otto', 'last_name': 'Porter Jr.', 'is_active': True}]
glen rice jr
[]
no match
glenn robinson iii
[{'id': 203922, 'full_name': 'Glenn Robinson III', 'first_name': 'Glenn', 'last_name': 'Robinson III', 'is_active': False}]
jabari smith jr
[{'id': 1631095, 'full_name': 'Jabari Smith Jr.', 'first_name': 'Jabari', 'last_name': 'Smith Jr.', 'is_active': True}]
steve smith
[]
no match
gary trent jr
[{'id': 1629018, 'full_name': 'Gary Trent Jr.', 'first_name': 'Gary', 'last_name': 'Trent Jr.', 'is_active': True}]
duane washington jr
[{'id': 1630613, 'full_name': 'Duane Washington Jr.', 'first_name': 'Duane', 'last_name': 'Washington Jr.', 'is_active': True}]
jeenathan williams
[]
no match
vince williams jr
[{'id': 1631246, 'full_name': 'Vince Williams Jr.', 'first_name': 'Vince', 'last_name': 'Williams Jr.', 'is_active': True}]

In [66]:
players_original = pd.read_csv('players.csv')
print(players_original.shape, players_updated.shape)
for index, row in players_updated.iterrows():
    if row['Player'] in to_get_rid_of:
        players_updated.drop(index, inplace=True)
        players_original.drop(index, inplace=True)
    elif row['Player'] in [x[0] for x in new_ids]:
        players_updated.at[index, 'player_id'] = [x[1] for x in new_ids if x[0] == row['Player']][0]
        players_original.at[index, 'player_id'] = [x[1] for x in new_ids if x[0] == row['Player']][0]
    else:
        players_original.at[index, 'player_id'] = players_updated.at[index, 'player_id']
        
print(players_updated.shape)
print(players_original.shape)
for index, row in players_original.iterrows():
    # Check if index exists in both DataFrames
    if index in players_updated.index and index in players_original.index:
        # Compare attributes of players_updated and players_original: Wt, Ht, Pos, DOB
        if players_updated.at[index, 'Wt'] != players_original.at[index, 'Wt']:
            print(row['Player'])
            print(players_updated.at[index, 'Player'])
    else:
        print(f"Index {index} is missing in one of the DataFrames")
        print(row['Player'])

(3538, 9) (3538, 9)
(3532, 9)
(3532, 9)

In [71]:
# Rename columns to player_id, name, from, to, pos, ht, wt, birth_date, colleges
players_original.rename(columns={'Player': 'name', 'From': 'from', 'To': 'to', 'Pos': 'pos', 'Ht': 'ht', 'Wt': 'wt', 'Birth Date': 'birth_date', 'Colleges': 'colleges'}, inplace=True)
players_original.to_csv('players.csv', index=False)

In [75]:
players_original = pd.read_csv('players.csv')
# Check for duplicate player_ids
unique_duplicate_ids = players_original[players_original.duplicated(['player_id'])]
print(unique_duplicate_ids.shape)
# Find all rows with duplicate player_ids
for index, row in unique_duplicate_ids.iterrows():
    print(row['name'])
    print(players_original[players_original['player_id'] == row['player_id']])
    print("\n")

(17, 9)
Troy Brown Jr
     player_id           name  from    to  pos  ht     wt  birth_date  \
396    1628972    Bruce Brown  2019  2024  G-F  76  202.0  1996-08-15
430    1628972  Troy Brown Jr  2019  2024  G-F  78  215.0  1999-07-28

       colleges
396  Miami (FL)
430      Oregon


Larry Drew II
     player_id           name  from    to pos  ht     wt  birth_date  \
847     203580     Larry Drew  1981  1991   G  73  170.0  1958-04-02
848     203580  Larry Drew II  2015  2018   G  74  180.0  1990-03-05

      colleges
847   Missouri
848  UNC, UCLA


Patrick Ewing
     player_id           name  from    to  pos  ht     wt  birth_date  \
952     201607  Patrick Ewing  1986  2002  C-F  84  240.0  1962-08-05
953     201607  Patrick Ewing  2011  2011    F  80  235.0  1984-05-20

                colleges
952           Georgetown
953  Indiana, Georgetown


Ron Harper Jr
      player_id           name  from    to  pos  ht     wt  birth_date  \
1288    1631199     Ron Harper  1987  2001  G-F  78  185.0  1964-01-20
1289    1631199  Ron Harper Jr  2023  2024  G-F  78  245.0  2000-04-12

                colleges
1288    Miami University
1289  Rutgers University


Mike Higgins
      player_id             name  from    to pos  ht     wt  birth_date  \
1277       1848  Tim Hardaway Jr  2014  2024   G  77  205.0  1992-03-16
1380       1848     Mike Higgins  1990  1991   F  81  220.0  1967-02-17

                             colleges
1277                         Michigan
1380  University of Northern Colorado


Jaren Jackson Jr
      player_id              name  from    to  pos  ht     wt  birth_date  \
1513    1628991     Jaren Jackson  1990  2002  G-F  76  190.0  1967-10-27
1514    1628991  Jaren Jackson Jr  2019  2024    F  82  242.0  1999-09-15

            colleges
1513      Georgetown
1514  Michigan State


George Johnson
      player_id            name  from    to  pos  ht     wt  birth_date  \
1599      77148  George Johnson  1973  1986  C-F  83  205.0  1948-12-18
1600      77148  George Johnson  1979  1986  F-C  79  210.0  1956-12-08

                colleges
1599  Dillard University
1600          St. John's


Bobby Jones
      player_id         name  from    to pos  ht     wt  birth_date  \
1638     200784  Bobby Jones  1975  1986   F  81  210.0  1951-12-18
1639     200784  Bobby Jones  2007  2008   F  79  215.0  1984-01-09

        colleges
1638         UNC
1639  Washington


John Lucas III
      player_id            name  from    to pos  ht     wt  birth_date  \
1916     101249      John Lucas  1977  1990   G  75  175.0  1953-10-31
1919     101249  John Lucas III  2006  2017   G  71  166.0  1982-11-21

                    colleges
1916                Maryland
1919  Baylor, Oklahoma State


Larry Nance Jr
      player_id            name  from    to  pos  ht     wt  birth_date  \
2270    1626204     Larry Nance  1982  1994  F-C  82  205.0  1959-02-12
2271    1626204  Larry Nance Jr  2016  2024  F-C  80  245.0  1993-01-01

     colleges
2270  Clemson
2271  Wyoming


Gary Payton II
      player_id            name  from    to pos  ht     wt  birth_date  \
2441    1627780     Gary Payton  1991  2007   G  76  180.0  1968-07-23
2442    1627780  Gary Payton II  2017  2024   G  74  190.0  1992-12-01

          colleges
2441  Oregon State
2442  Oregon State


Kevin Porter Jr
      player_id             name  from    to pos  ht     wt  birth_date  \
2517    1629645     Kevin Porter  1973  1983   G  72  170.0  1950-04-17
2518    1629645  Kevin Porter Jr  2020  2023   G  76  203.0  2000-05-04

                      colleges
2517  Saint Francis University
2518                       USC


Glenn Robinson III
      player_id                name  from    to  pos  ht     wt  birth_date  \
2666     203922      Glenn Robinson  1995  2005    F  79  225.0  1973-01-10
2667     203922  Glenn Robinson III  2015  2021  G-F  78  222.0  1994-01-08

      colleges
2666    Purdue
2667  Michigan


Jabari Smith Jr
      player_id             name  from    to pos  ht     wt  birth_date  \
2889    1631095     Jabari Smith  2001  2005   C  83  250.0  1977-02-12
2890    1631095  Jabari Smith Jr  2023  2024   F  83  220.0  2003-05-13

     colleges
2889      LSU
2890   Auburn


Michael Stewart
      player_id                    name  from    to pos  ht     wt  \
1082       1565  Kiwane Lemorris Garris  1998  2000   G  74  183.0
2966       1565         Michael Stewart  1998  2005   C  82  230.0

      birth_date    colleges
1082  1974-09-24    Illinois
2966  1975-04-25  California


Gary Trent Jr
      player_id           name  from    to pos  ht     wt  birth_date  \
3131    1629018     Gary Trent  1996  2004   F  80  250.0  1974-09-22
3132    1629018  Gary Trent Jr  2019  2024   G  77  209.0  1999-01-18

             colleges
3131  Ohio University
3132             Duke


Duane Washington Jr
      player_id                 name  from    to pos  ht     wt  birth_date  \
3266    1630613     Duane Washington  1988  1993   G  76  195.0  1964-08-31
3267    1630613  Duane Washington Jr  2022  2023   G  75  210.0  2000-03-24

              colleges
3266  Middle Tennessee
3267        Ohio State

## DISREGARD EVERYTHING UP TOP!

In [77]:
players = pd.read_csv('players.csv')
# Find all duplicates by name
duplicate_names = players[players.duplicated(['name'])]
# Print all rows with duplicate names
for index, row in duplicate_names.iterrows():
    print(row['name'])
    print(players[players['name'] == row['name']])
    print("\n")

Patrick Ewing
     player_id           name  from    to  pos  ht     wt  birth_date  \
952        121  Patrick Ewing  1986  2002  C-F  84  240.0  1962-08-05
953     201607  Patrick Ewing  2011  2011    F  80  235.0  1984-05-20

                colleges
952           Georgetown
953  Indiana, Georgetown


George Johnson
      player_id            name  from    to  pos  ht     wt  birth_date  \
1599      77149  George Johnson  1973  1986  C-F  83  205.0  1948-12-18
1600      77148  George Johnson  1979  1986  F-C  79  210.0  1956-12-08

                colleges
1599  Dillard University
1600          St. John's


Bobby Jones
      player_id         name  from    to pos  ht     wt  birth_date  \
1638      77193  Bobby Jones  1975  1986   F  81  210.0  1951-12-18
1639     200784  Bobby Jones  2007  2008   F  79  215.0  1984-01-09

        colleges
1638         UNC
1639  Washington